#paquets {
  grid-template-areas:
    "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
    "p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2";
  // "p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3";

  @include min-break("mobile") {
    grid-template-areas: "p1 p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2";
    // ". . p3 p3 p3 p3 p3 p3 p3 p3 . .";
    // ". . . . . . . . . . . ."
    // ". . . . . . . . . . . .";
  }

  table {
    border: none;
    td {
      display: inline-block;
      padding: 0.2em 0.4em;
      border: none;
      // background-color: $gray-7;
    }
    form {
      display: inline;
      max-width: 100%;
      width: 4rem;
      input {
        width: 100%;
      }
    }
  }
}
