#today {
  grid-template-areas:
    "p1 p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2"
    "p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3";
  @include min-break("mobile") {
    grid-template-areas:
      ". p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 ."
      ". . . p3 p3 p3 p3 p3 p3 . . .";
  }
  @include min-break("tablet") {
    grid-template-areas:
      ". . p1 p1 p1 p1 p2 p2 p2 p2 . ."
      ". . . p3 p3 p3 p3 p3 p3 . . .";
  }

  // .page-heading {
  //   span {
  //     h1 {
  //       font-size: 1rem;
  //     }
  //   }
  // }

  .p0,
  .p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .btn-bien,
  .btn-mal {
    position: absolute;
    color: white;
    transition: all 0.1s ease-in-out;
    &:active {
      top: 6px;
      left: 2px;
      box-shadow: none;
      transition: all 0.1s ease-in-out;
    }
  }
  .btn-mal {
    background-color: $b-error-bgcol;
    box-shadow: 2px 6px 0px darken($color: $b-error-bgcol, $amount: 7%),
      0 5px 5px 1px rgba(0, 0, 0, 0.9);
  }
  .btn-bien {
    background-color: $b-success-bgcol;
    color: white;
    box-shadow: 2px 6px 0px darken($color: $b-success-bgcol, $amount: 7%),
      0 5px 5px 1px rgba(0, 0, 0, 0.9);
  }

  .p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0.4em;
      font-size: 1.2em;
    }
  }
}
