.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0.6rem 0;
  form {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
      font-size: 1.2em;
    }

    .fieldWrapper,
    .form-group {
      display: block;
      width: 100%;
      &.checkbox-group {
        display: flex;
        align-items: center;
        input {
          width: auto;
        }
        label {
          width: auto;
          margin-right: 1rem;
        }
      }

      &.row {
        &.time {
          display: flex;
          justify-content: center;
          label {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          select,
          label {
            width: auto;
            margin: 0 0.3rem;
          }
        }
      }

      .flex-text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    h1,
    h2,
    h3,
    h4,
    label,
    select,
    input,
    textarea {
      width: 100%;
      display: block;
      margin: 0.2em 0em;
      border-radius: 4px;
    }
    textarea {
      resize: vertical;
    }
    input,
    textarea,
    select,
    option {
      border: 1px solid gray;
      padding: 0.3em;
    }
    //   select
    input[type="submit"],
    button[type="submit"] {
      cursor: pointer;
      width: auto;
      margin: 1.4em 0;

      // margin-left: auto;
      border-color: transparent;
    }

    .input-wrapper {
      width: 100%;
      display: flex;
      position: relative;
      input {
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem 0;
        // padding: 0.1em;
        background-color: white;
        border-left: 1px solid $gray-5;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        i {
          // font-size: 0.8em;
          color: black;
          background-color: transparent;
          min-width: 1.6em;
        }
      }
    }
  }
}
@include min-break("mobile") {
  form {
  }
}
@include min-break("tablet") {
  form {
    max-width: 75%;

    .form-group {
      &.row {
        display: flex;
        justify-content: center;
        input,
        label {
          width: auto;
        }
        label,
        .flex-text {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        span {
          margin: 0 1rem;
          display: inline-block;
        }
      }
    }
  }
}
