.django-plotly-dash {
  & > div {
  }
}

.resp-container {
  height: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.resp-iframe {
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#myChart {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 600px;
  overflow-x: scroll;
}
