.django-plotly-dash {
  & > div {
  }
}

// .resp-container {
//   position: fixed;
//   overflow: hidden;
//   padding-top: 56.25%;
// }
//
// .resp-iframe {
//   position: block;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 50%;
//   border: 0;
// }

.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 300px;
  overflow-x: scroll;
}
