
.resp-container {
  // position: relative;
  height: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
}
@include min-break("mobile") {
  .resp-container {
    height: 80%;
  }
}

// .resp-iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
.chart-iframe {
  //   position: relative;
  //   margin: auto;
  //   height: 100%;
  //   width: 100%;
  background: #1D1F20;
}

#myChart {
  // margin: auto;
  // height: 100%;

}
