.django-plotly-dash {
  & > div {
  }
}
//
.resp-container {
  height: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
}
@include min-break("mobile") {
  .resp-container {
    height: 75%;
  }
}

.resp-iframe {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
}
//
// // .chart-container {
// //   position: relative;
// //   margin: auto;
// //   height: 100%;
// //   width: 100%;
// // }
//
#myChart {
  margin: auto;
  height: 100%;
}
