table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.199);
}

.info-table {
  border: none;
  margin: 0.3rem;

  tr {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  td {
    display: inline-block;
    padding: 0.2em 0.4em;
    border: none;
    font-size: 1rem;
    // background-color: $gray-7;
  }
  form {
    display: inline;
    max-width: 100%;
    width: 4rem;
    input {
      width: 100%;
    }
  }
}
