$heading-height: 4rem;

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: $header-height-mob $heading-height auto; 
  // row-gap: 1rem;
}

header {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
}
.page-heading {
  grid-row: 2 / span 1;
}

.content {
  grid-row: 3 / span 1;
  grid-column: 1 / -1;
  display: grid;
  //default values (can be overwritten on specific pages)
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 0.8rem;
}

@include min-break("mobile") {
  .grid-container {
    grid-template-rows: $header-height $heading-height auto; //note: this min height will stretch all items in main section to fill the space
  }
}

//grid layout DEFAULTS (override in page specific style sheets)
.content {
  grid-template-areas:
    "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
    "p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2"
    "p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3"
    "p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4"
    "p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5"
    "p6 p6 p6 p6 p6 p6 p6 p6 p6 p6 p6 p6";

  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  .p5 {
    grid-area: p5;
  }
  .p6 {
    grid-area: p6;
  }
  .fill {
    min-height: 0;
    grid-area: fill;
  }

  @include min-break("mobile") {
    grid-template-areas:
      "p1 p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2"
      "p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4 p4"
      "p5 p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6";
    .fill {
      min-height: 30vh;
      grid-area: fill;
    }
  }
}
