body {
  background-color: $body-bg-colour;
  overflow-x: hidden;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;

  .content-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    
    .content {
      flex: 1 0 auto;
    }
  }
}
