{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/vendor/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/css/styles.min.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <title>NicotineKill</title>
  </head>

  <body id="index">
    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Grid container -->
        <div class="grid-container">
          <!-- Header -->
          <header>
            <div class="header-content">
              <div class="logo">
                <span><a href="{% url 'QuitSoonApp:index' %}">
                  <img class="NK-logo" src="{% static 'QuitSoonApp/img/logo.png' %}" alt="Nicotine Kill" height="50" width="50">
                </a></span>
              </div>

              <nav>
                <ul>
                  <li class="dropdown-menu" data-toggle="user-menu">
                    <span href="#" class="menu-item"
                      ><i class="fas fa-user"></i><span>Connection</span></span
                    >

                    <span>
                      <ul id="user-menu" class="sub-menu">
                        <li>
                          <a
                            class="menu-item"
                            href="{% url 'QuitSoonApp:login' %}"
                          >
                            Me connecter à mon compte
                          </a>
                        </li>
                        <li>
                          <a
                            class="menu-item"
                            href="{% url 'QuitSoonApp:register' %}"
                          >
                            Créer un compte
                          </a>
                        </li>
                      </ul></span
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </header>
          <!-- End of header -->

          <!-- Page content -->

          <!-- Page heading -->
          <div class="page-heading">
            <i class="fas fa-heart"></i>
            <h1>Nicotine KILL!</h1>
          </div>
          <!-- End page heading -->

          <!-- Panel content -->
          <main id="index" class="content">
            <section class="panel p1 pc-1">
              <div class="">
                C'est cool, pratique et
                motivant!<br />
                <br />
                Avant de craquer, j'appuie sur le bouton rouge avec la méchante
                tête de mort, ça fait réfléchir...<br />
                J'ai un retour sur :<br />
                - le nombre de cigarette fumé dans la journée<br />
                - la moyenne de cigarette par jour<br />
                - l'argent dépensé pour ce poison et surtout l'argent que
                j'éconnomise en baissant ma consommation<br />
                ...<br />
                <br />
                Pour me motiver à avoir des comportements plus sains,
                j'enregistre ces activités.<br />
                Que ce soit du sport, des soins ou des loisirs, j'appuie sur le
                bouton vert sympas qui fait du bien.<br />
                Je peux également y surveiller ma consommation de substitut
                nicotinique qui me permette de lentement écrabouiller ma
                dépendance.<br />
                Je peux donc constater les effets bénéfiques de mes activités
                saines et substituts sur ma consommation en baisse et me donner
                encore plus envie de choisir d'autres alternative à : "Je
                m'ennuie, allez, une petite clope...". Et ben non, je vais faire
                autre chose!<br />
              </div>
            </section>
            <section class="panel p2 pc-1">
              <h6>Je décide</h6>
              <p>
                Visuel profile day avec choix bouton rouge ou bouton vert
              </p>
            </section>
            <section class="panel p3 pc-1">
              <h6>Je constate</h6>
              <p>
                visuel page results
              </p>
            </section>
          </main>

          <!-- End panel content-->
          <!-- End page content -->
        </div>
        <!-- End grid container -->

        <!-- Footer -->
        <footer>Footer content</footer>
        <!-- End of footer -->
      </div>
    </div>

    <script src="{% static 'QuitSoonApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/quitsoon.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/index.min.js' %}"></script>
  </body>
</html>
