{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/vendor/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/css/styles.min.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <title>NicotineKill</title>
  </head>

  <body id="index">
    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Grid container -->
        <div class="grid-container">
          <!-- Header -->
          <header>
            {% include 'base_header.html' %}
          </header>
          <!-- End of header -->

          <!-- Page content -->

          <!-- Page heading -->
          <div class="page-heading">
            {% comment %} <i class="fas fa-heart"></i> {% endcomment %}
            <span>
            <h1>Nicotine KILL!</h1>
            </span>
          </div>
          <!-- End page heading -->

          <!-- Panel content -->
          <main id="index" class="content">
            <section class="panel p1 pc-1">
              <div class="">
              <h3>
                C'est cool, pratique et
                motivant!
              </h3>
              <p>
                Avant de craquer, j'appuie sur le bouton rouge avec la méchante
                tête de mort, ça fait réfléchir...
              </p>
              <p>
                J'ai un retour sur :
              </p>
              <ul>
              <li>
                - le nombre de cigarettes fumées dans la journée
              </li>
              <li>
                - la moyenne de cigarettes par jour depuis que j'urilise l'application
              </li>
               <li>

                - l'argent dépensé pour ce poison et surtout l'argent que j'éconnomise en baissant ma consommation ...
              </li>
              </ul>

               <p>
               </p>
               <p>
                Pour me motiver à avoir des comportements plus sains, j'enregistre mes activités.
               </p>
               <p>
                Que ce soit du sport, des soins ou des loisirs, j'appuie sur le
                bouton vert sympas qui fait du bien.
               </p>
               <p>
                Je peux également y surveiller ma consommation de substitut
                nicotinique qui me permet de lentement écrabouiller ma
                dépendance.
               </p>
               <p>
                Je peux donc constater les effets bénéfiques de mes activités
                saines et substituts sur ma consommation en baisse et me donner
                encore plus envie de choisir d'autres alternatives à : "Je
                m'ennuie, allez, une petite clope...". Et ben non, je vais faire
                autre chose!
               </p>
               <p class="">
                 <button class="btn btn-primary mr-5" type="button" name="button" href="{% url 'QuitSoonApp:login' %}">Me connecter</button>
                 <button class="btn btn-primary ml-5" type="button" name="button" href="{% url 'QuitSoonApp:register' %}">Créer un compte</button>
               </p>
              </div>
            </section>

            <section class="panel p2 pc-1">
              <h3>Je décide</h3>
              <img src="{% static 'QuitSoonApp/img/screenshot_today.PNG' %}" alt="NKToday">
            </section>
            <section class="panel p3 pc-1">
              <h3>Je constate</h3>
              <img src="{% static 'QuitSoonApp/img/screenshot_chart.PNG' %}" alt="NKChart">
            </section>
          </main>

          <!-- End panel content-->
          <!-- End page content -->
        </div>
        <!-- End grid container -->


      </div>
    <!-- Footer -->
        <footer>
            {% include 'base_footer.html' %}
        </footer>
      <!-- End of footer -->
    </div>

    <script src="{% static 'QuitSoonApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/quitsoon.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/index.min.js' %}"></script>
  </body>
</html>
