{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/vendor/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/css/styles.min.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <title>NicotineKill</title>
  </head>


  <body id="legals">
    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Grid container -->
        <div class="grid-container">
          <!-- Header -->
          <header>
            {% include header_template_name %}
          </header>
          <!-- End of header -->

        <!-- Page content -->
          <!-- Page heading -->
          <div class="page-heading">
            {% comment %} <i class="fas fa-heart"></i> {% endcomment %}
            <span>
            <h1>Mentions Légales</h1>
            </span>
          </div>
          <!-- End page heading -->

          <main id="legals" class="content">

            <section class="panel p1 pc-1">
              <div class="">
              <h3>Hébergement du site:</h3><hr>
              <p>Digital Ocean</p>
              <p><a href="https://www.digitalocean.com/">https://www.digitalocean.com/</a></p>
              <p>101 Avenue of the Americas, New York 10013 USA</p>
              </div>
            </section>

            <section class="panel p2 pc-1">
              <div class="">
              <h3>Conception et Réalisation :</h3><hr>
              <p>Dev (Front-end) : <a href="https://github.com/ArtificialLuxuryIntelligence">ADGK</a></p>
              <p>Dev (Back-end): <a href="https://github.com/MayBaMay">MayBaMay</a></p>
              </div>
            </section>

            <section class="panel p3 pc-1">
              <div class="">
              <h3>Contacts:</h3><hr>
              <p><a href="mailto:contact@nicotinekill.com">contact@nicotinekill.com</a></p>
              </div>
            </section>

            <section class="panel p4 pc-1">
              <div class="">
              <h3>Données personnelles:</h3><hr>
              <p>
                L'application est un projet personnel ne faisant l'objet d'aucune exploitation commerciale.
                Les données utilisateurs sont stockées et utilisées dans le but exclusif de répondre aux fonctionnalités de l'application.
                Les auteurs déclinent toute responsabilité quant à la perte de ces données
                (lors d'une réinitialisation de la base ou de la suppression pure et simple de l'application)
              </p>
              </div>
            </section>
          </main>

          <!-- End page content -->

        </div>
        <!-- End grid container -->


      </div>

      <!-- Footer -->
      <footer>
      {% include 'base_footer.html' %}
      </footer>
       <!-- End of footer -->
    </div>

    <script src="{% static 'QuitSoonApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/quitsoon.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/index.min.js' %}"></script>
  </body>
</html>
