#smoke_list,
#health_list {
  grid-template-areas: "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1";
  @include min-break("mobile") {
    grid-template-areas: ". p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 .";
  }
  @include min-break("tablet") {
    grid-template-areas: ". p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 .";
  }

  form {
    margin-bottom: 2em;
    input[type="submit"] {
      padding: 0.4em;
      margin: 0.2em 0;
    }
  }
}

#health_list {
  td {
    &:nth-child(1),
    &:nth-child(2) {
      width: 12rem;
    }
  }
}
