#health,
#smoke {
  grid-template-areas:
    "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
    "p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2";

  @include min-break("mobile") {
    // padding-top: 4rem;

    grid-template-areas:
      ". . p1 p1 p1 p1 p1 p1 p1 p1 . ."
      ". . p2 p2 p2 p2 p2 p2 p2 p2 . .";
  }
  @include min-break("tablet") {
    grid-template-areas:
      ". . . p1 p1 p1 p1 p1 p1 . . ."
      ". . p2 p2 p2 p2 p2 p2 p2 p2 . .";
  }

  .p1 > :nth-child(2) {
    margin-bottom: 2rem;
  }

  #duration-group {
    margin-top: 1rem;
  }
}

#health {
  .health-timer {
    text-align: center;
    padding: 2rem;
    .last-health {
      font-size: 2em;
      display: inline-block;
      margin: 0 0.3rem;
    }
  }
}
