{% extends 'registration/base.html' %} {% load static %} {% block content %}

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-key"></i>
  <span>
  <h1>Me connecter</h1>
  </span>

</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="login" class="content">
  <section class="panel p1 pc-0">
    <div class="form-container">
      <form
        class="user form-with-password"
        id="loginform"
        action=""
        method="POST"
      >
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper form-group">
          {{ form.username.errors }}
          <input
            type="text"
            class="form-control form-control-user"
            name="username"
            id="signIn-Email"
            aria-describedby="emailHelp"
            placeholder="Adresse email ou pseudo"
          />
        </div>
        <div class="fieldWrapper form-group">
          {{ form.password.errors }}
          <div class="row">
            <div class="col-11">
              <input
                type="password"
                class="form-control form-control-user password-field"
                name="password"
                id="signIn-Password"
                placeholder="Mot de passe"
              />
            </div>
            <div class="col-1">
              <i class="fa fa-eye pass-status" id="login-eye"></i>
            </div>
          </div>
        </div>
        <input id="signin-btn" type="submit" class="" value="Valider" />
      </form>
    </div>
  </section>

  <section class="panel p2 pc-0">
    <a
      class="btn-primary-text-dark"
      href="{% url 'QuitSoonApp:password_reset' %}"
      >Mot de passe oublié?</a
    >

    <a class="btn-primary-text-dark" href="{% url 'QuitSoonApp:register' %}"
      >Vous n'avez pas encore de compte? Créez en un!</a
    >
  </section>
</main>

<!-- End panel content-->

{% endblock %}
