{% extends 'registration/base.html' %}
{% load static %}
{% block content %} 

<!-- templates/registration/password_reset_form.html -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-key"></i>
  <h1>Réinitialisation du mot de passe</h1>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="pw-reset-form" class="content">
	<section class="panel p1 pc-0">
		<p>Votre mot de passe a été modifié.</p>
		<a class="btn-cta" href="{% url 'QuitSoonApp:login' %}">Se connecter!</a>
	</section>
</main>
<!-- End panel content-->

{% endblock %}

