{% extends 'registration/base.html' %}
{% load static %}
{% block content %} 

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-key"></i>
  <h1>Réinitialisation du mot de passe</h1>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="pw-reset-form" class="content">
  	<section class="panel p1 pc-0">
		<div class="form-container">
			<form method="POST" class="form-signin">{% csrf_token %}
				<h1 class="h3 mb-3 font-weight-normal"></h1>
				<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
				{% for field in form %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				{% endfor %}
				<button class="btn-primary" type="submit">Envoyer mon email de réinitialisation</button>
			</form>
		</div>
 	</section>

</main>

  <!-- End panel content-->

{% endblock %}

