{% extends 'registration/base.html' %}
{% load static %}
{% block content %} 

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-key"></i>
  <h1>Réinitialisation du mot de passe</h1>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="pw-reset-form" class="content">
  	<section class="panel p1 pc-0">
		<p>
			Nous vous avons envoyé les instructions de réinitialisation de votre mot de passe par email si un compte existe avec l'adresse email renseignée.
			Vous devriez le recevoir d'ici peu.
		</p>
		<p>
			Si vous ne recevez pas d'email, veillez à renseigner l'adresse email correspondant à votre compte Pur Beurre et vérifiez les indésirables de votre boîte mail.
		</p>
		<a class="btn-primary" href="{% url 'QuitSoonApp:index' %}">Retour à la page d'accueil</a>
 	</section>

</main>

  <!-- End panel content-->

{% endblock %}

