{% comment %} {% extends 'registration/base.html' %}
{% load static %}
{% block content %} {% endcomment %}

<!-- templates/registration/password_reset_confirm.html -->
{% load static %}

<section style="background-color:#de9440;" class="page-section text-white" id="services">

{% if validlink %}

<form method="POST" class="form-signin">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Rénitialisation du mot de passe</h1>
  <input name="new_password1" class="form-control" placeholder="Nouveau mot de passe" type="password" id="id_new_password1" required="true">
  <input name="new_password2" class="form-control mt-3" placeholder="Confirmation mot de passe" type="password" id="id_new_password2" required="true">

  {% for field in form %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Valider</button>
</form>

{% else %}
{% endif %}

</section>
