<!-- templates/registration/password_reset_done.html -->
{% load static %}

<section style="background-color:#de9440;" class="page-section text-white" id="services">

<div class="container">

	<div class="d-flex flex-column">
		<p class="m-auto p-2">
			Nous vous avons envoyé les instructions de réinitialisation de votre mot de passe par email si un compte existe avec l'adresse email renseignée.
			Vous devriez le recevoir d'ici peu.
		</p>
		<p class="m-auto p-2">
			Si vous ne recevez pas d'email, veillez à renseigner l'adresse email correspondant à votre compte Pur Beurre et vérifiez les indésirables de votre boîte mail.
		</p>
		<a class="btn btn-primary" href="{% url 'QuitSoonApp:index' %}">Retour à la page d'accueil</a>
	</div>
</div>
</section>
