{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}

{% block content %}

MON SUIVI <br>
 <br>

 {% if user.is_authenticated %}
  <!--
  <div> circle button hyperlink toward graph ConsoCigGraph
  infos:
    Cumul total smoked
    Average per days
    Didn't smoke (compared to old habbit)
  </div>
   -->
    {% if total_number %}
      CONSO :<br>
      total_number : {{ total_number }} <br>
      average_number : {{ average_number }} <br>
      non_smoked : {{ non_smoked }} <br>
        <br>
    {% else %}
      <p>Vous n'avez pas encore enregistré de cigarette fumée</p>
    {% endif %}
  <!--
  <div> circle button hyperlink toward graph MoneyGraph
  infos:
    Cumul total smoked
    Average per days
    Didn't smoke (compared to old habbit)
  </div>
   -->
  {% if total_money %}
    MONEY:<br>
    total_money : {{ total_money }}€ <br>
    average_money : {{ average_money }}€ <br>
    saved_money : {{ saved_money }}€ <br>
    <br>
  {% else %}
    <p>Vous n'avez pas encore enregistré d'action saine'</p>
  {% endif %}
  <!--
  <div> circle button hyperlink toward graph NicotineGraph
  infos:
    Cumul total smoked
    Average per days
    Didn't smoke (compared to old habbit)
  </div>
   -->


  <div id='consociggraph' class="{% plotly_class name='ConsoCigGraph' %} card=" style="height:100%; width: 100%">
      {% plotly_app name='ConsoCigGraph' ratio=0.65 %}
  </div>

{% else %}
  <div class="container text-center">
    VOUS N'ÊTES PAS CONNECTÉ <br>
    <div class="row">
      <div class="col-6">
        <a class="small" href="{% url 'QuitSoonApp:login' %}">Me connecter</a>
      </div>
      <div class="col-6">
        <a class="small" href="{% url 'QuitSoonApp:register' %}">Créer un compte</a>
      </div>
    </div>
  </div>
{% endif %}
  {% endblock %} 
