{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% block content %}

<!-- Main content -->
<!-- <div id="alternatives"> -->

  <!-- Page heading -->
  <div class="page-heading">
    <i class="fas fa-heartbeat"></i>
    <span>
    <h1>Mes alternatives</h1>
    </span>
  </div>
  <!-- End page heading -->


  <!-- Panel content -->
  <main id="alternatives" class="content tz">

    <section class="panel p1 pc-2">
      <h2>Nouvelle alternative</h2>
      <div class="form-container">
        <form id="alternativeform" action="{% url 'QuitSoonApp:alternatives' %}" method="POST">
          {% csrf_token %}
          {{ alternative_form.non_field_errors }}
          {% for field in alternative_form %}
            <div class="fieldWrapper form-group ">
              {% if not field.is_hidden and field.field.widget.attrs.class != 'hide' %}
                 <span class="label show">{{ field.label }}:</span>
              {% endif %}
              {{ field }}
              {{ field.error }}
            </div>
          {% endfor %}
          <div class="activity_form">
            {{ activity_form.non_field_errors }}
            {% for field in activity_form %}
              <div class="fieldWrapper form-group ">
                {% if not field.is_hidden and field.field.widget.attrs.class != 'hide' %}
                   <span class="label show">{{ field.label }}:</span>
                {% endif %}
                {{ field }}
                {{ field.error }}
              </div>
            {% endfor %}
          </div>
          <div class="substitut_form">
            {{ substitut_form.non_field_errors }}
            {% for field in substitut_form %}
              <div class="fieldWrapper form-group ">
                {% if not field.is_hidden and field.field.widget.attrs.class != 'hide' %}
                   <span class="label show">{{ field.label }}:</span>
                {% endif %}
                {{ field }}
                {{ field.error }}
              </div>
            {% endfor %}
          </div>

          <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
        </form>
      </div>
    </section>

    <section class="panel p2 pc-2">
      <div class="row">
        <div >
          <div >
            <h2>Mes alternatives :</h2>

            {% if Sp or Lo or So or Su %}

              <div class="">
                {% if Sp %}
                <h3>Sports</h3>
                <ul>
                {% for activity in Sp %}
                <li class="flex-between">
                  <table class="info-table">
                    <tr>
                      <td>
                        {{ activity.activity }}
                      </td>
                    <tr>
                  </table>
                        <a class="icon-link" href="/delete_alternative/{{activity.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="">
                {% if Lo %}
                <h3>Loisirs</h3>
                <ul>
                {% for activity in Lo %}
                <li class="flex-between">
                  <table class="info-table">
                    <tr>
                      <td>
                        {{ activity.activity }}
                      </td>
                    <tr>
                  </table>
                  <a class="icon-link" href="/delete_alternative/{{activity.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </li>
                {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="">
                {% if So %}
                <h3>Soins</h3>
                <ul>
                {% for activity in So %}
                <li class="flex-between">
                  <table class="info-table">
                    <tr>
                      <td>
                        {{ activity.activity }}
                      </td>
                    <tr>
                  </table>
                  <a class="icon-link" href="/delete_alternative/{{activity.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </li>
                {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="">
                {% if Su %}
                <h3>Substituts</h3>
                <ul>
                {% for substitut in Su %}
                <li class="flex-between">
                  <table class="info-table">
                    <tr>
                      <td>
                        {{ substitut.get_substitut_display }}
                      </td>
                      <td>
                        {{ substitut.nicotine }}mg
                      </td>
                    <tr>
                  </table>
                  <a class="icon-link" href="/delete_alternative/{{substitut.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </li>
                {% endfor %}
                </ul>
                {% endif %}
              </div>

            {% else %}
              <p>Vous n'avez pas encore enregistré d'alternative</p>
            {% endif %}

          </div>
        </div>
      </div>
    </section>


  </main>


  <!-- End panel content -->

  <!-- Page modals -->

  <!-- End page modals -->
  <!-- End of main content -->


{% endblock %}
