{% extends 'base.html' %}
{% load static %}

{% block content %}

JE VAIS CRAQUER ...

{{ lastsmoke.paquet.type_cig }}

<form method='post' action="{% url 'QuitSoonApp:bad' %}"">
  {% csrf_token %}
  <!-- <div class="form-group">
    <label for="date_smoke"><b>Date: </b></label>
    <input type="date" name="date_smoke" class="form-control currentDate" required="required" />
  </div>
  <div class="form-group">
    <label for="time_smoke"><b>Heure: </b></label>
    <input type="time" name="time_smoke" class="form-control currentTime" required="required" />
  </div> -->
  <div class="form-group">
    <label for="selected_types_cig"><b>Tabac: </b></label>
      {{ form.non_field_errors }}
      {% for field in TypeCigSelectForm %}
        <div class="fieldWrapper form-group ">
          {{ field.label }}
          {{ field }}
          {{ field.error }}
        </div>
      {% endfor %}
  </div>
  <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
</form>


{% endblock %}
