{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/vendor/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/css/styles.min.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'QuitSoonApp/icon/favicon.ico' %}" type="image/x-icon">
    <title>Nicotine Kill</title>
  </head>

  <body id="app">
    {% load tz %}
    {% localtime off %}
    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Grid container -->
        <div class="grid-container">
          <!-- Header -->
          <header>
            {% include 'QuitSoonApp/base_header.html' %}
          </header>
          <!-- End of header -->
          {% if user.is_authenticated %}

          <!-- Page content -->
          {% block content %}{% endblock %} {% endif %}
          <!-- End page content -->
        </div>
        <!-- End grid container -->

        <!-- Logout modal -->
        <div class="modal-container logout-modal">
          <div class="modal">
            <span class="btn close-modal-btn close-modal-btn-x "><i class="fas fa-times"></i></span>
            <div id="modal-logout" class="modal-content">
              <section>
                <h4>Déconnexion</h4>
                <p>
                  {{user.username}}, êtes-vous sûr de vouloir vous déconnecter?
                </p>
                <div class="modal-buttons">
                  <span class="btn"> <a href="{% url 'logout' %}">Valider</a></span>
                  <span class="btn close-modal-btn">Annuler</span>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- End logout modal -->

      </div>
        <!-- Footer -->
        <footer>
          {% include 'base_footer.html' %}
        </footer>
        <!-- End of footer -->
    </div>

  {% endlocaltime %}

    <script src="{% static 'QuitSoonApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/quitsoon.min.js' %}"></script>
    <script src="{% static 'QuitSoonApp/js/index.min.js' %}"></script>

  </body>
</html>
