{% load static %}

<div class="header-content">
  <div class="logo">
    <span><a href="{% url 'QuitSoonApp:today' %}">
      <img class="NK-logo" src="{% static 'QuitSoonApp/img/logo.png' %}" alt="Nicotine Kill" height="50" width="50">
    </a></span>
  </div>

  <nav>
    <ul>
      <li>
        <a href="{% url 'QuitSoonApp:today' %}" class="menu-item">
          <i class="fas fa-calendar-day"></i> <span>Aujourd'hui</span></a
        >
      </li>

      <li>
        <a href="{% url 'QuitSoonApp:report' %}" class="menu-item">
          <i class="fas fa-chart-bar"></i> <span>Suivi</span></a
        >
      </li>

      <li>
        <a
          href="{% url 'QuitSoonApp:objectifs' %}"
          class="menu-item"
        >
          <i class="fas fa-trophy"></i> <span>Objectifs</span></a
        >
      </li>

      <li class="dropdown-menu" data-toggle="smoking-menu">
        <span href="#" class="menu-item"><i class="fas fa-smoking"></i><span>Cigarettes</span></span>
        <span>
          <ul id="smoking-menu" class="sub-menu">
            <li>
              <a href="{% url 'QuitSoonApp:paquets' %}" class="menu-item"
                >Mes paquets</a>
            </li>
            <li>
              <a href="{% url 'QuitSoonApp:smoke' %}" class="menu-item"
                >Je craque</a>
            </li>
            <li>
              <a href="{% url 'QuitSoonApp:smoke_list' %}" class="menu-item"
                >Mes craquages</a>
            </li>
          </ul>
        </span>
      </li>

      <li class="dropdown-menu" data-toggle="health-menu">
        <span href="#" class="menu-item"><i class="fas fa-heartbeat"></i><span>Alternatives</span></span>
        <span>
          <ul id="health-menu" class="sub-menu">
            <li>
              <a href="{% url 'QuitSoonApp:alternatives' %}" class="menu-item"
                >Mes alternatives</a>
            </li>
            <li>
              <a href="{% url 'QuitSoonApp:health' %}" class="menu-item"
                >Je tiens bon</a>
            </li>
            <li>
              <a href="{% url 'QuitSoonApp:health_list' %}" class="menu-item"
                >Mes actions saines</a>
            </li>
          </ul>
        </span>
      </li>

      <li class="dropdown-menu" data-toggle="user-menu">
        <span href="#" class="menu-item"
          ><i class="fas fa-user"></i
          > <span id="username-nav">{{ user.username }}</span></span
        >

        <span>
          <ul id="user-menu" class="sub-menu">
            <li>
              <a href="{% url 'QuitSoonApp:profile' %}" class="menu-item"
                >Mes informations personnelles</a
              >
            </li>
            <li>
              <a
                id="logout-link"
                href="#"
                class="menu-item toggle-modal"
                data-modal="modal-logout"
                >Me déconnecter</a
              >
            </li>
          </ul></span
        >
      </li>
    </ul>
  </nav>
</div>
