{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'QuitSoonApp/vendor/fontawesome-free/css/all.min.css' %}"
    />
    <title>Nicotine Kill</title>
  </head>

  <body>

    <!-- <div class="chart-container"> -->
      <canvas id="myChart"></canvas>
    <!-- </div> -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

      <script>

        $(document).ready(function(){

          let endpoint = "{% url 'QuitSoonApp:api' %}";
          var datesRange = 0;

          let params = {'period':'Jour', 'show-healthy':false, 'charttype':'nb_cig', 'datesRange':0}
          getCharts();

          $( "#previousDates", parent.document ).click(function() {
              datesRange -= 1;
              getCharts();
          });

          $( "#nextDates", parent.document ).click(function() {
            if (datesRange < 0) {
              datesRange += 1;
              getCharts();
            }
          });

          $( ":input", parent.document ).change(function(e){
            e.preventDefault();
            // GET DATA-TOGGLE FROM PAGE REPORT => CHARTS TYPE
            // CHANGE JS TOGGLE?
            datesRange = 0;
            getCharts();
          });

          function getParams() {
            let radioValue = $("input[name='period']:checked", parent.document).val();
            let checkboxvalue = $("input[name='show-healthy']", parent.document).prop('checked');
            params = {'period':radioValue, 'show-healthy':checkboxvalue, 'charttype':'nb_cig', 'datesRange':datesRange};
          }

          function getCharts() {
            getParams()
            console.log(params);
            $.ajax({
                method: "GET",
                url: endpoint,
                data: params,
                contentType: "application/json",
                success: function(response_data){
                  let columns = JSON.parse(response_data).columns
                  let index = JSON.parse(response_data).index
                  let data = JSON.parse(response_data).data

                  var ctx = document.getElementById('myChart').getContext('2d');

                  let chartData = {
                      labels: index,
                      datasets: [{
                          label: columns,
                          data: data,
                          borderWidth: 1
                      }]
                  };
                  var myChart = new Chart(ctx, {
                      type: 'bar',
                      data: chartData,
                      maintainAspectRatio: false,
                      options: {
                          scales: {
                              yAxes: [{
                                  gridLines: {
                                      display: false,
                                      color: "black"
                                    },
                                  ticks: {
                                      beginAtZero: true,
                                      stepSize: 1
                                  }
                              }],
                              xAxes: [{
                                  gridLines: {
                                      type: 'time',
                                      bounds:'data',
                                      display: false,
                                      time: {
                                        unit: 'day',
                                        unitStepSize: 1,
                                      },
                                      ticks: {
                                        source: 'labels',
                                      },
                                    },
                              }]
                          }
                      }
                  });
                },
                error: function(error_response_data){
                  console.log("error");
                  console.log(error_response_data);
                }
            });
          };
        });

  </script>
  </body>
</html>
