<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>

 .chart-container{
   height: 350px;
 }

 @media(min-width:423px){
    .chart-container{
      height: 400px;
    }
 }

  @media(min-width:763px){
    .chart-container{
       height: 600px;
    }
 }


    </style>

    <title>Nicotine Kill</title>
  </head>

  <body style="background-color:#25344b;">

    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

      <script>

        $(document).ready(function(){

          let endpoint = "{% url 'QuitSoonApp:api' %}";
          var datesRange = 0;

          getCharts();

          $( "#previousDates", parent.document ).on("click", function() {
              datesRange -= 1;
              getCharts();
          });

          $( "#nextDates", parent.document ).on("click", function() {
            if (datesRange < 0) {
              datesRange += 1;
              getCharts();
            }
          });

          $( ":button", parent.document ).on("click", function(){
            getCharts();
          });

          $( ":input", parent.document ).on('change',function(){
            getCharts();
          });

          function getParams() {

            // get base type chart
            let label
            let typeChart
            let idTab = $("div.tabbed-content.active", parent.document).attr("id")
            if ((idTab == "tab1") || (idTab == "tab2") || (idTab == "tab3")) {
              $(".user-choices", parent.document)
                .removeClass("hide")
                .addClass("show");
            } else {
              $(".user-choices", parent.document)
                .addClass("hide")
                .removeClass("show");
            };
            if (idTab == "tab1") {
              label = "Cigarettes fumées"
              typeChart = "nb_cig"
            } else if (idTab == "tab2"){
              label = "Argent parti en fumée (en€)"
              typeChart = "money_smoked"
            } else if (idTab == "tab3"){
              label = "Nicotine (en mg)"
              typeChart = "nicotine"
            } else if (idTab == "tab4") {
              label = "Consommation moyenne de cigarettes par heure"
              typeChart = "time"
            };

            // get parameter period for data chart
            let radioValue = $("input[name='period']:checked", parent.document).val();

            // get parameter for displaying additionnal data (activity duration)
            let checkboxvalue = $("input[name='show-healthy']", parent.document).prop('checked');
            params = {'charttype':typeChart, label:label, 'period':radioValue, 'show-healthy':checkboxvalue, 'datesRange':datesRange};
          };

          function getCharts() {
            getParams()
            let type
            if (params.charttype == 'time'){
              type = 'line';
            } else {
              type = 'bar';
            };
            $.ajax({
                method: "GET",
                url: endpoint,
                data: params,
                contentType: "application/json",
                success: function(response_data){
                  let columns = JSON.parse(response_data).columns
                  let index = JSON.parse(response_data).index
                  let data = JSON.parse(response_data).data

                  var ctx = document.getElementById('myChart').getContext('2d');

                  Chart.defaults.global.defaultFontColor = "white";

                  let chartData = {
                          label: params.label,
                          data: data.base,
                          yAxisID: 'base',
                          borderWidth: 1,
                          backgroundColor: "rgba(88,122,173,0.4)",
                          borderColor: "rgba(88,122,173,1)",
                          borderWidth: 2,
                          order: 1,
                  };

                  let activityChartData = {
                        label:  "Activités (en minutes)",
                        type: 'line',
                        data: data.activity,
                        yAxisID: 'activity',
                        borderWidth: 1,
                        borderColor: "rgba(75,181,67)",
                        borderWidth: 2,
                        order: 2,
                    };

                  let ActivityYAxis = {
                      id: "activity",
                      position: 'right',
                      ticks: {
                          beginAtZero: true,
                      }
                  }

                  var myChart = new Chart(ctx, {
                      type: type,
                      data: {
                        datasets: [chartData, activityChartData],
                        labels: index
                      },
                      options: {
                          maintainAspectRatio: false,
                          events: [],
                          tooltips: {enabled: false},
                          hover: {mode: null},
                          animation:{
                            duration:0,
                          },
                          scales: {
                              yAxes: [{
                                  id: 'base',
                                  position: 'left',
                                  gridLines: {
                                      display: true,
                                      color: "rgba(88,122,173,0.2)"
                                    },
                                  ticks: {
                                      beginAtZero: true,
                                      stepSize: 1
                                  }
                              }, ActivityYAxis
                            ],
                              xAxes: [{
                                  gridLines: {
                                      type: 'time',
                                      bounds:'data',
                                      display: false,
                                      time: {
                                        unit: 'day',
                                        unitStepSize: 1,
                                      },
                                      ticks: {
                                        source: 'labels',
                                      },
                                    },
                              }]
                          }
                      }
                  });

                  function addData(chart, data, YAxis) {
                    chart.data.datasets[1] = data;
                    chart.options.scales.yAxes[1] = YAxis;
                    chart.update();
                  }

                  function removeData(chart) {
                    chart.data.datasets.pop();
                    chart.options.scales.yAxes.pop();
                    chart.update();
                  }

                  if ($("input[name='show-healthy']", parent.document).prop('checked')) {
                    if ($(".user-choices", parent.document).hasClass("show")) {
                      addData(myChart, activityChartData, ActivityYAxis)
                    } else {
                      removeData(myChart)
                    };
                  } else {
                    removeData(myChart)
                  };

                },
                error: function(error_response_data){
                  console.log("error");
                  console.log(error_response_data);
                }
            });
          };
        });

  </script>
  </body>
</html>
