{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% block content %}


<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-heartbeat"></i>
  <h1>je tiens bon</h1>
  <h2>bien bien</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="health" class="content">
  <section class="panel p1 pc1">
  {% if not alternatives %}

    <p>Vous n'avez enregistré aucune alternative</p>
    <p>Veuillez paramétrer vos alternatives <a href="{% url 'QuitSoonApp:alternatives' %}">ici</a></p>

  {% else %}
  <div class="form-container">
    <form id="healthform" method='post' action="{% url 'QuitSoonApp:health' %}">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="error">
              <p> {{ error }} </p>
            </div>  
          {% endfor %}
        {% endfor %}
        {{ form.non_field_errors }}
      {% endif %}
      <div class="fieldWrapper form-group row">
        <span>{{ form.date_health.label }}
        {{ form.date_health }}</span>
        <span>{{ form.time_health.label }}
        {{ form.time_health }}</span>
      </div>
      <div class="fieldWrapper form-group ">
        {{ form.type_alternative_field }}
        {{ form.sp_field }}
        {{ form.so_field }}
        {{ form.lo_field }}
        {{ form.su_field }}
        {{ form.ecig_vape_or_start }}
      </div>
      <div class="fieldWrapper form-group ">
        {{ form.duration_hour }}
        {{ form.duration_min }}
      </div>
      <input id="" type="submit" class="btn" value="Sauvergarder">
    </form>
  </div>

  {% endif %}

  {% comment %} <a class="btn-outline-secondary" href ="{% url 'QuitSoonApp:health_list' %}">Voir la liste de mes bonnes actions</a>   {% endcomment %}



  </section>
  <section class="panel p2 pc-1">
    {% if health %}
      Dernière alternative enregistrée il y a :
      {% for element in lasthealth %}
           {{ element }}
      {% endfor %}
      <a href="{% url 'QuitSoonApp:health_list' %}">Voir la liste de mes bonnes actions</a>
    {% else %}
      Vous n'avez encore enregistré aucune action
    {% endif %}
  </section>
</main>
<!-- End panel content -->





{% endblock %}
