{% extends 'base.html' %} {% load static %} {% load l10n %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fa-calendar-day"></i>
  <h1>je tiens bon</h1>
  <h2>Ahhhh, je me sens déjà mieux!</h2>
</div>
<!-- End page heading -->


<!-- Panel content -->
<main id="paquets" class="content">
  <section class="panel p1 pc1">

    {% if not alternatives %}
      Vous n'avez enregistré aucune alternative,<br>
      Veuillez paramétrer vos alternatives
      <a href="{% url 'QuitSoonApp:alternatives' %}">ici</a>


    {% else %}
      {% if health %}
        <form id="healthfilterform" method='post' action="{% url 'QuitSoonApp:health_list' %}">
          {% csrf_token %}
          <div class="form-group">
            <div class="container">
              {{ health_form.non_field_errors }}
              <div class="fieldWrapper form-group ">
                {{ health_form.type_alternative_field }}
                {{ health_form.type_alternative_field.error }}
                {{ health_form.sp_field }}
                {{ health_form.sp_field.error }}
                {{ health_form.so_field }}
                {{ health_form.so_field.error }}
                {{ health_form.lo_field }}
                {{ health_form.lo_field.error }}
                {{ health_form.su_field }}
                {{ health_form.su_field.error }}
                {{ health_form.ecig_vape_or_start }}
                {{ health_form.ecig_vape_or_start.error }}
              </div>
            </div>
          </div>
          <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Trier">
        </form>

        {% for conso in health %}
          <div class="row">
              {{ conso.date_alter }}
              {{ conso.time_alter }}
              {% if conso.alternative.type_activity %}
                {{ conso.alternative.type_activity }}
                {{ conso.alternative.activity }}
              {% endif %}
              {% if conso.alternative.substitut %}
                {{ conso.alternative.substitut }}
                {{ conso.alternative.nicotine }}
              {% endif %}
              {% if conso.activity_duration %}
                {{ conso.activity_duration }}min
              {% endif %}
              {% if conso.ecig_choice %}
                {{ conso.get_ecig_choice_display }}
              {% endif %}
            <a href="/delete_health/{{conso.id}}/"><i class="fa fa-trash " aria-hidden="true"></i></a>
          </div>
        {% endfor %}

      {% else %}
          Vous n'avez pas encore enregistré d'action saine,
          Allez, un petit effort, ça te fera vraiment du bien!
      {% endif %}
    {% endif %}
  </section>

</main>
<!-- End panel content -->

<!-- End of main content -->

{% endblock %}
