{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

  <!-- Main content -->

  <!-- Page heading -->
  <div class="page-heading">
    <i class="fas fa-trophy"></i>
    <h1>Objectifs</h1>
    <h2>oui, oui tu peux le faire!<h2>
  </div>
  <!-- End page heading -->

  <!-- Panel content -->
  <main id="objectifs" class="content">
    <section class="panel p1 pc1" style="color: white;">
      <p>Jours sans tabac : </p>
      {% for challenge, success in challenges.items %}
          {% if challenge.0  == 0 %}

            {% if challenge.1 == 1 %}
             {{challenge.1}} Jour sans tabac
            {% else %}
              {% if nb_jour >= 30 %}
                {{ challenge.1|intdiv:30 }} Mois sans tabac
              {% else %}
                {{challenge.1}} Jours sans tabac
              {% endif %}
            {% endif %}

            {% if success %}
              <i class="fas fa-trophy" style="color:#28b463"></i>
            {% else %}
              <i class="fas fa-trophy" style="color:#cecac9"></i>
            {% endif %}
            <br>
          {% endif %}

      {% endfor %}
    </section>
    <section class="panel p2 pc1" style="color: white;">
      <p>Baisse de consommation : </p>
      {% for challenge, success in challenges.items %}
        {% if challenge.0  != 0 %}
          {{challenge.1}} jours à moins de {{challenge.0 }} cigarettes par jour
          {% if success %}
            <i class="fas fa-trophy" style="color:#28b463"></i>
          {% else %}
            <i class="fas fa-trophy" style="color:#cecac9"></i>
          {% endif %}
        {% endif %}

        <br>
      {% endfor %}
    </section>
  </main>
  <!-- End panel content -->

  <!-- End of main content -->
{% endblock %}
