{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- Main content -->

  <!-- Page heading -->
  <div class="page-heading">
    <i class="fa-calendar-day"></i>
    <h1>Objectifs</h1>
  </div>
  <!-- End page heading -->

  <!-- Panel content -->
  <main id="objectifs" class="content">
    <section class="panel p1 pc1">
      <p>panel1 content</p>
    </section>
    <section class="panel p2 pc-1"></section>
  </main>
  <!-- End panel content -->

  <!-- End of main content -->
{% endblock %}
