{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load l10n %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-smoking"></i>
  <span>
  <h1>Mes clopes</h1>
  <h2></h2>
  </span>

</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="paquets" class="content">
  <section class="panel p1 pc-3">
    <h2>Nouveau paquet</h2>

    <div class="form-container">
      <form id="paquetform" action="{% url 'QuitSoonApp:paquets' %}" method="POST">
       {% if first %}
       <div class="">
        Attention, veillez à renseigner le paquet que vous consommez le plus couramment.
        Cette information servira à calculer les économiser que vous allez bientôt réaliser!
       </div>
        {% endif %}
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper form-group ">
          <label>{{ form.type_cig.label }}</label>
          {{ form.type_cig }}
          {{ form.type_cig.error }}
        </div>
        <div class="fieldWrapper form-group ">
          <label>{{ form.brand.label }}</label>
          {{ form.brand }}
          {{ form.brand.error }}
        </div>
        <div class="fieldWrapper form-group ">
          <label id="qt">{{ form.qt_paquet.label }}</label>
          {{ form.qt_paquet }}
          {{ form.qt_paquet.error }}
        </div>
        <div class="fieldWrapper form-group ">
          <label>{{ form.price.label }}</label>
          {{ form.price }}
          {{ form.price.error }}
        </div>
        <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
      </form>
    </div>
  </section>

  <section class="panel p2 pc-3">
   <h2>Mes clopes :</h2>
    <div class="">

      {% if rol or ind %}

        {% if ind %}
          <h3>Cigarettes industrielles</h3>
          <ul>
          {% for paquet in ind %}
          <li class="flex-between">
            <table class="info-table">
              <tr>
                <td>
                  {{ paquet.brand }}
                </td>
                <td>
                  {{ paquet.qt_paquet }}/paquet
                </td>
                <td>
                  {{ paquet.price }}€
                </td>
                <td>
                  {{ paquet.price_per_cig }}€/cig
                </td>

              <tr>
            </table>
                  <a class="icon-link" href="/delete_pack/{{paquet.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div>
        {% if rol %}
          <h3>Cigarettes roulées</h3>
          <ul>
          {% for paquet in rol %}
          <li class="flex-between">
            <table class="info-table">
              <tr>
                <td>
                  {{ paquet.brand }}
                </td>
                <td>
                  {{ paquet.qt_paquet }}g/paquet
                </td>
                <td>
                  {{ paquet.price }}€
                </td>
                <td>
                    <p style="display:inline" class="g_per_cig">{{ paquet.g_per_cig }}</p>
                    <form style="display:inline" class="form-cig-change hide" action="{% url 'QuitSoonApp:change_g_per_cig' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="type_cig" value="{{ paquet.type_cig }}">
                      <input type="hidden" name="brand" value="{{ paquet.brand }}">
                      <input type="hidden" name="qt_paquet" value="{{ paquet.qt_paquet }}">
                      <input type="hidden" name="price" value="{{ paquet.price|unlocalize }}">
                      <input type="number" step="0.1" name="g_per_cig" value="{{ paquet.g_per_cig|unlocalize }}">
                    </form>
                    <p style="display:inline">g/cig</p>
                    <a style="display:inline" class="cig-change icon-link" href="#"><i class="fas fa-edit"></i></a>
                 </td>
                <td>
                  {{ paquet.price_per_cig }}€/cig
                </td>

              </tr>
            </table>
                  <a class="icon-link" href="/delete_pack/{{paquet.id}}/"><i class="fa fa-trash " aria-hidden="true"></i></a>
                  </li>

          {% endfor %}
          </ul>
        {% endif %}
      </div>

    {% else %}
      <p>Vous n'avez pas encore enregistré de paquet</p>
    {% endif %}

  </section>
</main>
<!-- End panel content -->

<!-- End of main content -->
{% endblock %}
