{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block content %}

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">MES CLOPES</h1>
    </div>

    {% if user.is_authenticated %}
      <!-- Content Row -->
      <div class="row">
        <div class="card shadow mb-4">
          <div class="card-body">
              <p><b>Nouveau paquet :</b></p>
              <p>{{ error }}</p>
              <form class="user form-with-password" id="paquetform" action="{% url 'QuitSoonApp:paquets' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                  <div class="fieldWrapper form-group ">
                    {{ field.label }}:
                    {{ field }}
                    {{ field.error }}
                  </div>
                {% endfor %}
                <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
              </form>
          </div>
        </div>
        </div>
        <button class="button button5"><a href="{% url 'QuitSoonApp:bad' %}"><i class="fas fa-skull mr-3"></i>
        JE ME FAIS DU MAL
        </a></button>

      <div class="row">
        <div class="card shadow mb-4">
          <div class="card-body">
            <p><b>Mes clopes :</b></p>
            <div class="">
              {% if ind %}
                <p><b>Cigarettes industrielles</b></p>
                {% for paquet in ind %}
                  <div class="row">
                    {{ paquet.brand }}
                    {{ paquet.qt_paquet }}/paquet
                    {{ paquet.price }}€
                    {{ paquet.price_per_cig }}€/cig
                    <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if rol %}
                <p><b>Cigarettes roulées</b></p>
                {% for paquet in rol %}
                  <div class="row">
                    {{ paquet.brand }}
                    {{ paquet.qt_paquet }}g/paquet
                    {{ paquet.price }}€
                    <form class="form-cig-change hide" action="{% url 'QuitSoonApp:change_g_per_cig' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="type_cig" value="{{ paquet.type_cig }}">
                      <input type="hidden" name="brand" value="{{ paquet.brand }}">
                      <input type="hidden" name="qt_paquet" value="{{ paquet.qt_paquet }}">
                      <input type="hidden" name="price" value="{{ paquet.price|unlocalize }}">
                      <input type="number" step="0.1" name="g_per_cig" value="{{ paquet.g_per_cig|unlocalize }}">
                    </form>
                    <p class="show" type="">{{ paquet.g_per_cig }}g/cigarette</p>
                    <a class="cig-change" href="#"><i class="fas fa-edit"></i></a>
                    {{ paquet.price_per_cig }}€/cig
                    <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash " aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if cigares %}
                <p><b>Cigares</b></p>
                {% for paquet in cigares %}
                  <div class="row">
                    {{ paquet.brand }}
                    {{ paquet.qt_paquet }}/paquet
                    {{ paquet.price }}€
                    {{ paquet.price_per_cig }}€/cig
                    <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if cigarios %}
                <p><b>Cigarios</b></p>
                {% for paquet in cigarios %}
                  <div class="row">
                    {{ paquet.brand }}
                    {{ paquet.qt_paquet }}/paquet
                    {{ paquet.price }}€
                    {{ paquet.price_per_cig }}€/cig
                    <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if pipe %}
                <p><b>Pipe</b></p>
                {% for paquet in pipe %}
                <div class="row">
                  {{ paquet.brand }}
                  {{ paquet.qt_paquet }}g/paquet
                  {{ paquet.price }}€
                  <form class="form-cig-change hide" action="{% url 'QuitSoonApp:change_g_per_cig' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type_cig" value="{{ paquet.type_cig }}">
                    <input type="hidden" name="brand" value="{{ paquet.brand }}">
                    <input type="hidden" name="qt_paquet" value="{{ paquet.qt_paquet }}">
                    <input type="hidden" name="price" value="{{ paquet.price|unlocalize }}">
                    <input type="number" step="0.1" name="g_per_cig" value="{{ paquet.g_per_cig|unlocalize }}">
                  </form>
                  <p class="show" type="">{{ paquet.g_per_cig }}g/cigarette</p>
                  <a class="cig-change" href="#"><i class="fas fa-edit"></i></a>
                  {{ paquet.price_per_cig }}€/cig
                  <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash " aria-hidden="true"></i></a>
                </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if nb %}
                <p><b>Autres(en nb/paquet)</b></p>
                {% for paquet in nb %}
                  <div class="row">
                    {{ paquet.brand }}
                    {{ paquet.qt_paquet }}/paquet
                    {{ paquet.price }}€
                    {{ paquet.price_per_cig }}€/cig
                    <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="">
              {% if gr %}
                <p><b>Autres(en g/paquet)</b></p>
                {% for paquet in gr %}
                <div class="row">
                  {{ paquet.brand }}
                  {{ paquet.qt_paquet }}g/paquet
                  {{ paquet.price }}€
                  <form class="form-cig-change hide" action="{% url 'QuitSoonApp:change_g_per_cig' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type_cig" value="{{ paquet.type_cig }}">
                    <input type="hidden" name="brand" value="{{ paquet.brand }}">
                    <input type="hidden" name="qt_paquet" value="{{ paquet.qt_paquet }}">
                    <input type="hidden" name="price" value="{{ paquet.price|unlocalize }}">
                    <input type="number" step="0.1" name="g_per_cig" value="{{ paquet.g_per_cig|unlocalize }}">
                  </form>
                  <p class="show" type="">{{ paquet.g_per_cig }}g/cigarette</p>
                  <a class="cig-change" href="#"><i class="fas fa-edit"></i></a>
                  {{ paquet.price_per_cig }}€/cig
                  <a href="/delete_pack/{{paquet.type_cig}}/{{paquet.brand}}/{{paquet.qt_paquet}}/{{paquet.price}}/""><i class="fa fa-trash " aria-hidden="true"></i></a>
                </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <div class="container text-center">
        VOUS N'ÊTES PAS CONNECTÉ <br>
        <div class="row">
          <div class="col-6">
            <a class="small" href="{% url 'QuitSoonApp:login' %}">Me connecter</a>
          </div>
          <div class="col-6">
            <a class="small" href="{% url 'QuitSoonApp:register' %}">Créer un compte</a>
          </div>
        </div>
      </div>
    {% endif %}

</div>
{% endblock %}
