{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load plotly_dash %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-chart-bar"></i>
  <h1>Mon suivi</h1>
  <h2>Alors, est-ce que je progresse?</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="report" class="content">
  {% if not no_data %}
  {% if not first_day %}
  <section class="panel p1 pc-1">
    <b>MA CONSO :</b><br />
    Cigarettes fumées : {{ total_number }} <br />
    Moyenne par jour : {{ average_number }} <br />
    Cigarettes non fumées : {{ non_smoked }} <br />
  </section>

  <section class="panel p2 pc-1">
    <b>MES SOUS:</b><br />
    Argent fumé : {{ total_money }}€ <br />
    Moyenne par jour : {{ average_money }}€ <br />
    Moyenne par jour : {{ saved_money }}€ <br />
    <br />
  </section>

  <!-- <section class="panel p3 pc-1">
    <div class="tabbed-content-container graph-height">
      <div class="flex-center">
        <button class="btn-tab active" data-toggle="tab1">
          <i class="fas fa-chart-bar"></i><span> Graph</span>
        </button>
        <button class="btn-tab" data-toggle="tab2">
     <i class="fas fa-euro-sign"></i><span> Money</span>
        </button>
        {% if user_conso_subsitut %}
        <button class="btn-tab" data-toggle="tab3">
     <i class="fas fa-smoking"></i><span> Nicotine</span>

        </button>
        {% endif %}
        {% if smoke_user_conso_full_days %}

        <button class="btn-tab" data-toggle="tab4">
     <i class="fas fa-clock"></i><span> Time</span>

        </button>
        {% endif %}
      </div>

      <div class="tabbed-content active" id="tab1">
        <div
          id="consociggraph"
          class="{% plotly_class name='ConsoCigGraph' %}"

        >
          {% plotly_app name='ConsoCigGraph' ratio=1 %}
        </div>
      </div>
      <div class="tabbed-content" id="tab2">
        <div
          id="moneygraph"
          class="{% plotly_class name='MoneyGraph' %}"

        >
          {% plotly_app name='MoneyGraph' ratio=1 %}

        </div>
      </div>

      {% if user_conso_subsitut %}
      <div class="tabbed-content" id="tab3">
        <div
          id="nicotinegraph"
          class="{% plotly_class name='NicotineGraph' %}"
          style="height: 100%; width: 100%;"
        >
          {% plotly_app name='NicotineGraph' ratio=1 %}
        </div>
      </div>
        {% endif %}

      {% if smoke_user_conso_full_days %}
      <div class="tabbed-content" id="tab4">
        <div
          id="timeciggraph"
          class="{% plotly_class name='TimeCigGraph' %}"
          style="height: 100%; width: 100%;"
        >
          {% plotly_app name='TimeCigGraph' ratio=1 %}
        </div>
      </div>
      {% endif %}
    </div>
  </section> -->

  <section class="panel p3 pc-1">

    <div class="tabbed-content-container graph-height">
      <div class="flex-center">
        <button class="btn-tab active" data-toggle="tab1">
          <i class="fas fa-chart-bar"></i><span> Cigarettes fumées</span>
        </button>
        <button class="btn-tab" data-toggle="tab2">
          <i class="fas fa-euro-sign"></i><span> Argent dépensé</span>
        </button>
        {% if user_conso_subsitut %}
        <button class="btn-tab" data-toggle="tab3">
          <i class="fas fa-smoking"></i><span> Substituts nicotiniques</span>
        </button>
        {% endif %}
        {% if smoke_user_conso_full_days %}
        <button class="btn-tab" data-toggle="tab4">
          <i class="fas fa-clock"></i><span> Moyenne par heure</span>
        </button>
        {% endif %}
      </div>

      <div class="tabbed-content active" id="tab1"></div>
      <div class="tabbed-content" id="tab2"></div>
      <div class="tabbed-content" id="tab3"></div>
      <div class="tabbed-content" id="tab4"></div>

      <div class="user-choices">
        <div id="radio">
          <label style="display: inline-block;">
            <input type="radio" name="period" value="Jour" checked="">
            Jour
          </label>
          <label style="display: inline-block;">
            <input type="radio" name="period" value="Semaine">
            Semaine
          </label>
          <label style="display: inline-block;">
            <input type="radio" name="period" value="Mois">
            Mois
          </label>
        </div>
        <div id="checkbox">
          <label>
            <input type="checkbox" name="show-healthy">
            Voir mes activités saines
          </label>
        </div>
      </div>

      <div class="resp-container" >
        <iframe class="resp-iframe" src="{% url 'QuitSoonApp:charts' %}" frameborder="0"></iframe>
      </div>

      <div class="flex-center">
        <a id="previousDates">
          <i class='fas fa-angle-double-left' style='font-size:24px'></i>
           Précédent -
        </a>
        <a id="nextDates">
          - Suivant
          <i class='fas fa-angle-double-right' style='font-size:24px'></i>
        </a>
      </div>


  </section>

  {% else %}
  <section class="panel p1 pc-1">
    C'est votre 1er jour, les données sont donc insuffisante pour l'instant.
    Retrouvez vos statistiques ici même dès demain
  </section>
  {% endif %}
  {% else %}
  <section class="panel p1 pc-1">
    Vous n'avez pas encore enregistré de données <br />
    (craquage cigarette ou actions saines)
  </section>
  {% endif %}
</main>
<!-- End panel content -->

<!-- End of main content -->
{% endblock %}
