{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load plotly_dash %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-chart-bar"></i>
  <h1>Report</h1>
  <h2>data data data!</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="report" class="content">
  {% if not no_data %}
  {% if not first_day %}
  <section class="panel p1 pc-1">
    CONSO :<br />
    total_number : {{ total_number }} <br />
    average_number : {{ average_number }} <br />
    non_smoked : {{ non_smoked }} <br />
  </section>

  <section class="panel p2 pc-1">
    MONEY:<br />
    total_money : {{ total_money }}€ <br />
    average_money : {{ average_money }}€ <br />
    saved_money : {{ saved_money }}€ <br />
    <br />
  </section>

  <section class="panel p3 pc-1">
    <div class="tabbed-content-container graph-height">
      <div class="flex-center">
        <button class="btn-tab active" data-toggle="tab1">
          Graph
        </button>
        <button class="btn-tab" data-toggle="tab2">
          Money
        </button>
        {% if user_conso_subsitut %}
        <button class="btn-tab" data-toggle="tab3">
          Nicotine
        </button>
        {% endif %}
        {% if smoke_user_conso_full_days %}

        <button class="btn-tab" data-toggle="tab4">
          Time
        </button>
        {% endif %}
      </div>

      <div class="tabbed-content active" id="tab1">
        <div
          id="consociggraph"
          class="{% plotly_class name='ConsoCigGraph' %}"
       
        >
          {% plotly_app name='ConsoCigGraph' ratio=1 %}
        </div>
      </div>
      <div class="tabbed-content" id="tab2">
        <div
          id="moneygraph"
          class="{% plotly_class name='MoneyGraph' %}"
       
        >
          {% plotly_app name='MoneyGraph' ratio=1 %}
        </div>
      </div>
      {% if user_conso_subsitut %}

      <div class="tabbed-content" id="tab3">
        <div
          id="nicotinegraph"
          class="{% plotly_class name='NicotineGraph' %}"
          style="height: 100%; width: 100%;"
        >
          {% plotly_app name='NicotineGraph' ratio=1 %}
        </div>
      </div>
        {% endif %}

      {% if smoke_user_conso_full_days %}
      <div class="tabbed-content" id="tab4">
        <div
          id="timeciggraph"
          class="{% plotly_class name='TimeCigGraph' %}"
          style="height: 100%; width: 100%;"
        >
          {% plotly_app name='TimeCigGraph' ratio=1 %}
        </div>
      </div>
      {% endif %}

    </div>
  </section>

  {% comment %} <section class="panel p3 pc-1">
    <div
      id="consociggraph"
      class="{% plotly_class name='ConsoCigGraph' %} card="
      style="height: 100%; width: 100%;"
    >
      {% plotly_app name='ConsoCigGraph' ratio=1 %}
    </div>
  </section>

  <section class="panel p4 pc-1">
    <div
      id="moneygraph"
      class="{% plotly_class name='MoneyGraph' %} card="
      style="height: 100%; width: 100%;"
    >
      {% plotly_app name='MoneyGraph' ratio=1 %}
    </div>
  </section>

  {% if user_conso_subsitut %}
  <section class="panel p5 pc-1">
    <div
      id="nicotinegraph"
      class="{% plotly_class name='NicotineGraph' %} card="
      style="height: 100%; width: 100%;"
    >
      {% plotly_app name='NicotineGraph' ratio=1 %}
    </div>
  </section>
  {% endif %}
  {% if smoke_user_conso_full_days %}
  <section class="panel p6 pc-1">
    <div
      id="timeciggraph"
      class="{% plotly_class name='TimeCigGraph' %} card="
      style="height: 100%; width: 100%;"
    >
      {% plotly_app name='TimeCigGraph' ratio=1 %}
    </div>
  </section>
  {% endif %} {% endcomment %}
  {% else %}
  <section class="panel p1 pc-1">
    C'est votre 1er jour, les données sont donc insuffisante pour l'instant.
    Retrouvez vos statistiques ici même dès demain
  </section>
  {% endif %}
  {% else %}
  <section class="panel p1 pc-1">
    Vous n'avez pas encore enregistré de données <br />
    (craquage cigarette ou actions saines)
  </section>
  {% endif %}
</main>
<!-- End panel content -->

<!-- End of main content -->
{% endblock %}
