{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load plotly_dash %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-chart-bar"></i>
  <h1>Report</h1>
  <h2>data data data!</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="report" class="content">

  {% if not no_data %}

    {% if not first_day %}
      <section class="panel p1 pc-1">
          <p><b>MA CONSO :</b></p><br>
          Cigarettes fumées : {{ total_number }} <br>
          Moyenne par jour : {{ average_number }} <br>
          Cigarettes non fumées : {{ non_smoked }} <br>
      </section>

       <section class="panel p2 pc-1">
        <p><b>MES SOUS :</b></p><br>
        Argent fumé : {{ total_money }}€ <br>
        Moyenne par jour : {{ average_money }}€ <br>
        Argent économisé : {{ saved_money }}€ <br>
        <br>
      </section>

      <section class="panel p3 pc-1">
        <p><b>MES ALTERNATIVES :</b></p><br>
        <p>
          {% for type, values in activity_stats.items %}
            {% if values.exists %}
              <b>{{ values.name }}:</b>
              {% if values.day %}
                {{ values.day }} aujourd'hui,
              {% endif %}
              {% if values.week %}
                {{ values.week }} cette semaine,
              {% endif %}
              {% if values.month %}
                {{ values.month }} ce mois-ci,
              {% else %}
                Aucune activité ce mois-ci
              {% endif %}
            {% endif %}
            <br>
          {% endfor %}
        </p>

        <p><b>Substituts : </b></p>
        <p>
          {% for type, values in substitut_stats.items %}
            {% if values.exists %}
              {{ values.name }}:
              {% if values.day %}
                {{ values.day }} aujourd'hui,
              {% endif %}
              {% if values.week %}
                {{ values.week }} cette semaine,
              {% endif %}
              {% if values.month %}
                {{ values.month }} ce mois-ci,
              {% else %}
                Aucune consommation de substitut enregistrée ce mois-ci
              {% endif %}
            <br>
            {% endif %}
          {% endfor %}
        </p>

      </section>

      <section class="panel p4 pc-1">
        <div id='consociggraph' class="{% plotly_class name='ConsoCigGraph' %} card=" style="height:100%; width: 100%">
            {% plotly_app name='ConsoCigGraph' ratio=1 %}
        </div>
      </section>

      <section class="panel p5 pc-1">
        <div id='moneygraph' class="{% plotly_class name='MoneyGraph' %} card=" style="height:100%; width: 100%">
            {% plotly_app name='MoneyGraph' ratio=1 %}
        </div>
      </section>


      {% if user_conso_subsitut %}
        <section class="panel p6 pc-1">
          <div id='nicotinegraph' class="{% plotly_class name='NicotineGraph' %} card=" style="height:100%; width: 100%">
              {% plotly_app name='NicotineGraph' ratio=1 %}
          </div>
        </section>
      {% endif %}

      {% if smoke_user_conso_full_days %}
        <section class="panel p7 pc-1">
          <div id='timeciggraph' class="{% plotly_class name='TimeCigGraph' %} card=" style="height:100%; width: 100%">
              {% plotly_app name='TimeCigGraph' ratio=1 %}
          </div>
        </section>
      {% endif %}


    {% else %}
    <section class="panel p1 pc-1">
        C'est votre 1er jour, les données sont donc insuffisante pour l'instant.
        Retrouvez vos statistiques ici même dès demain
    </section>
    {% endif %}

  {% else %}
    <section class="panel p1 pc-1">
      Vous n'avez pas encore enregistré de données <br>
      (craquage cigarette ou actions saines)
    </section>
  {% endif %}

</main>
<!-- End panel content -->

<!-- End of main content -->
{% endblock %}
