{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-smoking"></i>
  <h1>je vais craquer</h1>
  <h2>ahhh!</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="smoke" class="content">
  <section class="panel p1 pc1">
    {% if not packs %}

      <p>Vous n'avez enregistré aucun paquet</p>
      <p>Veuillez paramétrer vos paquets <a href="{% url 'QuitSoonApp:paquets' %}">ici</a></p>

    {% else %}

    {% if smoke %}
      <p>
        Vous avez déjà fumé <b>{{ nb_smoke_today }} cigarettes</b> aujourd'hui,
          la dernière il y a
          {% for element in lastsmoke %}
            <b>{{ element }}</b>
          {% endfor %}.
      </p>
    {% else %}
      Vous avez fumé votre dernière cigarette il y a :
      {% for element in lastsmoke %}
       {{ element }}
      {% endfor %} %}
    {% endif %}

    <p>Êtes-vous vraiment sûr de vouloir en allumer une maintenant?</p>

    <p>Respirez profondément et si l'envie est trop forte complétez le formulaire ci-dessous</p>

    <div class="form-container">
      <form id="smokeform" action="{% url 'QuitSoonApp:smoke' %}" method="post">
        {% csrf_token %}
        {% if smoke_form.errors %}
          {% for field in smoke_form %}
            {% for error in field.errors %}
                <div class="error">
                  <p> {{ error }} </p>
                </div>
            {% endfor %}
          {% endfor %}
          {{ smoke_form.non_field_errors }}
        {% endif %}
          <div class="fieldWrapper form-group ">
            <label for="id_date_smoke">  {{ smoke_form.date_smoke.label }}</label>
            {{ smoke_form.date_smoke }}
          </div>
          <div class="fieldWrapper form-group ">
            <label for="id_time_smoke">  {{ smoke_form.time_smoke.label }}</label>
            {{ smoke_form.time_smoke }}
          </div>
          <div class="fieldWrapper form-group checkbox-group">
            <label for="id_given_field">  {{ smoke_form.given_field.label }}</label>
            {{ smoke_form.given_field }}
          </div>
          <div class="fieldWrapper form-group ">
          <label for="id_type_cig_field">  {{ smoke_form.type_cig_field.label }}</label>
            {{ smoke_form.type_cig_field }}
          </div>
          <div class="fieldWrapper form-group ">
            <label for="id_ind_pack_field">  {{ smoke_form.ind_pack_field.label }}</label>
            {{ smoke_form.ind_pack_field }}
          </div>
          <div class="fieldWrapper form-group ">
            <label for="id_rol_pack_field">  {{ smoke_form.rol_pack_field.label }}</label>
            {{ smoke_form.rol_pack_field }}
          </div>
          <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
      </form>
    </div>
    {% endif %}

    {% if smoke %}
       <p><a href="{% url 'QuitSoonApp:smoke_list' %}" >Voir la liste de mes craquages </a></p>
    {% else %}
      <p>
        Vous n'avez encore enregistré aucune cigarette fumée
      </p>
    {% endif %}

  </section>
</main>
<!-- End panel content -->





{% endblock %}
