{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% load l10n %}
{% block content %}

{% load tz_detect %}
{% tz_detect %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fa-calendar-day"></i>
  <h1>Mes craquages</h1>
  <h2>Pas grave, je peux faire mieux!</h2>
</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="smoke_list" class="content">
  <section class="panel p1 pc-1">

  {% if not packs %}
    Vous n'avez enregistré aucun paquet,<br>
    Veuillez paramétrer vos paquets
    <a href="{% url 'QuitSoonApp:paquets' %}">ici</a>

  {% else %}
    {% if smoke %}
      <div class="form-container">
        <form id="smokefilterform" method='post' action="{% url 'QuitSoonApp:smoke_list' %}">
          {% csrf_token %}
          <div class="form-group">
            {{ smoke_form.non_field_errors }}
            <div class="fieldWrapper form-group ">
              {{ smoke_list_form.type_cig_field.label }}
              {{ smoke_list_form.type_cig_field }}
              {{ smoke_list_form.type_cig_field.error }}
            </div>
            <div class="fieldWrapper form-group ">
              {{ smoke_list_form.ind_pack_field.label }}
              {{ smoke_list_form.ind_pack_field }}
              {{ smoke_list_form.ind_pack_field.error }}
            </div>
            <div class="fieldWrapper form-group ">
              {{ smoke_list_form.rol_pack_field.label }}
              {{ smoke_list_form.rol_pack_field }}
              {{ smoke_list_form.rol_pack_field.error }}
            </div>
            <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Trier">
          </div>
        </form>
      </div>
      {% for conso in smoke %}
        <div class="row">
          {% if conso.given %}
            {{ conso.user_dt }} Clope taxée
          {% else %}
            {{ conso.user_dt }} {{ conso.brand }}
          {% endif %}
          <a href="/delete_smoke/{{conso.id}}/"><i class="fa fa-trash " aria-hidden="true"></i></a>
        </div>
      {% endfor %}

      <div class="pagination">
        <span class="step-links">
          {% if smoke.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ smoke.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ smoke.number }} of {{ smoke.paginator.num_pages }}.
          </span>

          {% if smoke.has_next %}
              <a href="?page={{ smoke.next_page_number }}">next</a>
              <a href="?page={{ smoke.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% else %}
      Vous n'avez pas encore enregistré de craquage, félicitation!
    {% endif %}
  {% endif %}

  </section>

</main>
<!-- End panel content -->

<!-- End of main content -->
{% endblock %}
