{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% block content %}


<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-smoking"></i>
  <span>
  <h1>Je vais craquer</h1>
  <h2>Ahhh!</h2>
  </span>

</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="smoke" class="content">
  <section class="panel p1 pc-3">

    {% if not packs %}

      <p>Vous n'avez enregistré aucun paquet</p>
      <p>Veuillez paramétrer vos paquets <a href="{% url 'QuitSoonApp:paquets' %}">ici</a></p>

    {% else %}

      {% if smoke %}
        <p>
          Vous avez déjà fumé <em>{{ nb_smoke_today }} cigarettes</em> aujourd'hui,
            la dernière il y a
            {% for element in lastsmoke %}
              <em>{{ element }}</em>
            {% endfor %}.
        </p>
      {% else %}
        Vous n'avez pas encore enregistré de craquage.
      {% endif %}

    <p>Êtes-vous vraiment sûr de vouloir en allumer une maintenant?</p>

    <p>Respirez profondément et si l'envie est trop forte complétez le formulaire ci-dessous</p>

    <div class="form-container">
      <form id="smokeform" action="{% url 'QuitSoonApp:smoke' %}" method="post">
        {% csrf_token %}
        {% if smoke_form.errors %}
          {% for field in smoke_form %}
            {% for error in field.errors %}
                <div class="error">
                  <p> {{ error }} </p>
                </div>
            {% endfor %}
          {% endfor %}
          {{ smoke_form.non_field_errors }}
        {% endif %}
          <div class="fieldWrapper form-group checkbox-group">
            <label for="id_given_field">  {{ smoke_form.given_field.label }}</label>
            {{ smoke_form.given_field }}
          </div>
          <div class="fieldWrapper form-group row">
            <span>
            {% comment %} <label for="id_date_smoke">  {{ smoke_form.date_smoke.label }}</label> {% endcomment %}
            {{ smoke_form.date_smoke }}
            </span>
            <span>
            {% comment %} <label for="id_time_smoke">  {{ smoke_form.time_smoke.label }}</label> {% endcomment %}
            {{ smoke_form.time_smoke }}</span>
          </div>

        
          <div class="fieldWrapper form-group row">
          <span>
            {% comment %} <div class="fieldWrapper form-group "> {% endcomment %}
            {% comment %} <label for="id_type_cig_field">  {{ smoke_form.type_cig_field.label }}</label> {% endcomment %}
              {{ smoke_form.type_cig_field }}
            {% comment %} </div> {% endcomment %}
          </span>
          <span>
            {% comment %} <div class="fieldWrapper form-group "> {% endcomment %}
              {% comment %} <label for="id_ind_pack_field">  {{ smoke_form.ind_pack_field.label }}</label> {% endcomment %}
              {{ smoke_form.ind_pack_field }}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="fieldWrapper form-group "> {% endcomment %}
              <label for="id_rol_pack_field">  {{ smoke_form.rol_pack_field.label }}</label>
              {{ smoke_form.rol_pack_field }}
            {% comment %} </div> {% endcomment %}
          </span>
          </div>
          <input id="" type="submit" class="btn btn-primary btn-user btn-block mt-3" value="Sauvergarder">
      </form>
    </div>
    {% endif %}
    <div class="flex-end footnote">
    <a class="btn" href="{% url 'QuitSoonApp:paquets' %}">Créer un nouveau paquet</a>
  </section>

  <section class="panel p2 pc-0">
    {% if smoke %}
    <div class="smoke-timer">
      <p>Vous avez fumé votre dernière cigarette il y a:</p>
      {% for element in lastsmoke %}
        <span class="last-smoke text-highlight-error">{{ element }}</span>
      {% endfor %}
    </div>
      <div class="flex-center">
        <a class="btn" href="{% url 'QuitSoonApp:smoke_list' %}" >Voir mes craquages</a>
      </div>          

    {% else %}
      <p>
        Vous n'avez encore enregistré aucune cigarette fumée
      </p>
    {% endif %}

  </section>
</main>
<!-- End panel content -->





{% endblock %}
