{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-calendar-day"></i>
  <span>
  <h1>À chaque jour suffit sa peine, et aujourd'hui?</h1>
  </span>

</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="today" class="content">
  <section class="panel p1 pc-0 panel-big-btn">
    <a class="big-btn-container" href="{% url 'QuitSoonApp:health' %}">
      <div class="btn-success big-btn">
        <i class="fas fa-heart"></i>
        <div class="tablet-content">
          <span class="tablet-content">Je me fais</span>
          <span class="tablet-content">du bien</span>
        </div>
      </div>
      <span class="mobile-content success-label">Je me fais</span>
      <span class="mobile-content success-label">du bien</span>
    </a>
  </section>
  <section class="panel p2 pc-0 panel-big-btn">
    <a class="big-btn-container" href="{% url 'QuitSoonApp:smoke' %}">
      <div class="btn-error big-btn">
        <i class="fas fa-skull"></i>
        <div class="tablet-content">
          <span class="tablet-content">Je me fais</span>
          <span class="tablet-content">du mal</span>
        </div>
      </div>
      <span class="mobile-content error-label">Je me fais</span>
      <span class="mobile-content error-label">du mal</span>
    </a>
  </section>

  {% if profile %}

    <section class="panel p3 pc-1">
        {% if lastsmoke %}
          <p>Dernière cigarette fumée il y a {{ lastsmoke }}</p>
          <p>Aujourd'hui : {{ smoke_today }}</p>
          <p>Moyenne journalière : {{ average_number }}</p>
        {% else %}
          Aucune cigarette fumée enregistrée
        {% endif %}
    </section>

  {% else %}

  <section class="panel p3 pc-1">
    Vous n'avez pas paramétré votre profil, nous ne pouvons donc pas fournir de statiqtiques.
    <a class="btn-secondary" href="{% url 'QuitSoonApp:profile' %}">Paramétrer mon profil</a>
  </section>

  {% endif %}

</main>
<!-- End panel content -->

<!-- Page modals -->
<div id="today-modals" class="modal-container page-modals"></div>

<!-- End page modals -->
<!-- End of main content -->
{% endblock %}
