{% extends 'QuitSoonApp/base.html' %}
{% load static %}
{% block content %}

<!-- Main content -->

<!-- Page heading -->
<div class="page-heading">
  <i class="fas fa-calendar-day"></i>
  <span>
  <h1>Today</h1>
  <h2>À chaque jour suffit sa peine, et aujourd'hui?</h2>
  </span>

</div>
<!-- End page heading -->

<!-- Panel content -->
<main id="today" class="content">
  <section class="panel p1 pc-0 panel-big-btn">
    <a class="big-btn-container" href="{% url 'QuitSoonApp:health' %}">
      <div class="btn-bien big-btn">
        <i class="far fa-smile"></i>
        <div >
          <span >Je me fais</span>
          <span >du bien</span>
        </div>
      </div>
    </a>
  </section>
  <section class="panel p2 pc-0 panel-big-btn">
    <a class="big-btn-container" href="{% url 'QuitSoonApp:smoke' %}">
      <div class="btn-mal big-btn">
        <i class="far fa-frown"></i>
        <div  >
          <span >Je me fais</span>
          <span >du mal</span>
        </div>
      </div>
      {% comment %} <span class="mobile-content error-label">Je me fais</span>
      <span class="mobile-content error-label">du mal</span> {% endcomment %}
    </a>
  </section>

  {% if profile %}

    <section class="panel p3 pc-0">
        {% if lastsmoke %}
        <div>
          <p>Dernière cigarette fumée il y a:</p>
          <p class="text-highlight-error">{{ lastsmoke }}</p> 
          <div>
          <p>Aujourd'hui :</p>
          <p class="text-highlight-error">{{ smoke_today }}</p>
          <p>Moyenne journalière :</p>
          <p class="text-highlight-error">{{ average_number }}</p>
        {% else %}
          Aucune cigarette fumée enregistrée
        {% endif %}
    </section>

  {% else %}

  <section class="panel p3 pc-1">
    Vous n'avez pas paramétré votre profil, nous ne pouvons donc pas fournir de statiqtiques.
    <a class="btn-secondary" href="{% url 'QuitSoonApp:profile' %}">Paramétrer mon profil</a>
  </section>

  {% endif %}

</main>
<!-- End panel content -->

<!-- Page modals -->
<div id="today-modals" class="modal-container page-modals"></div>

<!-- End page modals -->
<!-- End of main content -->
{% endblock %}
