.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.show-flex {
  display: flex !important;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-content {
  display: block;
}
.tablet-content {
  display: none;
}
@include min-break("mobile") {
  .mobile-content {
    display: none;
  }
  .tablet-content {
    display: block;
  }
}
