.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.show-flex {
  display: flex !important;
}

.flex-between {
  display: flex !important;
  justify-content: space-between;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footnote {
  margin-top: 2rem;
}

.text-highlight-error,
.text-highlight-success {
  text-align: center;
  font-size: 1.5em !important;
  font-weight: bold;
}

.text-highlight-success {
  color: transparentize($color: $b-success-bgcol, $amount: 0.1);
}

.text-highlight-error {
  color: transparentize($color: $b-error-bgcol, $amount: 0.1);
}

.mobile-content {
  display: block;
}
.tablet-content {
  display: none;
}
@include min-break("mobile") {
  .mobile-content {
    display: none;
  }
  .tablet-content {
    display: block;
  }
}
