//------------------colour library
//grays: white to black;

$gray-1: hsl(0, 0%, 90%);
$gray-2: hsl(0, 0%, 80%);
$gray-3: hsl(0, 0%, 70%);
$gray-4: hsl(0, 0%, 60%);
$gray-5: hsl(0, 0%, 50%);
$gray-6: hsl(0, 0%, 40%);
$gray-7: hsl(0, 0%, 30%);
$gray-8: hsl(0, 0%, 20%);
$gray-9: hsl(0, 0%, 10%);

//------------------------------------colour variables

//buttons

//primary (default)
$b-primary-col: $gray-9;
$b-primary-bgcol: $gray-1;
$b-primary-hov-col: $gray-1;
$b-primary-hov-bgcol: $gray-8;
//secondary
$b-secondary-col: white;
$b-secondary-bgcol: $gray-6;
$b-secondary-hov-col: $gray-6;
$b-secondary-hov-bgcol: white;
//error
$b-error-col: white;
$b-error-bgcol: hsl(0, 96%, 39%);
$b-error-hov-col: hsl(0, 96%, 39%);
$b-error-hov-bgcol: white;
//success
$b-success-col: white;
$b-success-bgcol: hsl(137, 93%, 34%);
$b-success-hov-col: hsl(137, 93%, 34%);
$b-success-hov-bgcol: white;

//header
// $header-colour: rgb(255, 255, 255);
$header-colour: rgb(41, 41, 41);

// $header-bg-colour: white;
// $header-bg-colour: rgba(255, 255, 255, 1);

$header-bg-colour: $gray-2;
$header-opacity: 0.95;

//layout
$body-bg-colour: $gray-2;

//content (main background)

$content-bg-colour: $gray-1;

// $header-bg-colour-open: rgb(212, 211, 212);

//panels
$panel-fg-colour: rgb(255, 255, 255);

$panel-bg-colour-default: #25344b;
$panel-bg-colour1: hsl(216, 34%, 22%);
$panel-fg-colour1: white;

$panel-bg-colour2: hsl(137, 93%, 34%);
$panel-fg-colour2: white;

$panel-bg-colour3: hsl(0, 96%, 39%);
$panel-fg-colour3: white;

// $panel-bg-colour3: scale-color(hsl(0, 96%, 39%), $lightness:+10%);

//footer
$footer-colour: black;
$footer-bg-colour: $gray-3;

//------------------------------------Sizing
$max-width: 1080px;
$container-radius: 10px;
$header-height: 4rem;
$header-height-mob: 6rem;

$heading-height: 6rem;
